In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2022-05-04 02:30:49,77.4840,-69.3632,17.94,76,100,4.99
1,1,Quatre Cocos,MU,2022-05-04 02:30:49,-20.2078,57.7625,77.11,79,14,11.99
2,2,Krasnoye,UA,2022-05-04 02:30:50,49.9145,24.6134,44.76,84,99,4.61
3,3,Carnarvon,AU,2022-05-04 02:30:50,-24.8667,113.6333,80.67,34,5,16.11
4,4,Butaritari,KI,2022-05-04 02:30:51,3.0707,172.7902,81.91,75,24,11.86

In [3]:
# Get Data Types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Quatre Cocos,MU,2022-05-04 02:30:49,-20.2078,57.7625,77.11,79,14,11.99
3,3,Carnarvon,AU,2022-05-04 02:30:50,-24.8667,113.6333,80.67,34,5,16.11
4,4,Butaritari,KI,2022-05-04 02:30:51,3.0707,172.7902,81.91,75,24,11.86
9,9,Avarua,CK,2022-05-04 02:30:54,-21.2078,-159.7750,82.45,78,100,6.91
10,10,Atuona,PF,2022-05-04 02:30:55,-9.8000,-139.0333,79.43,77,100,18.52
11,11,Bengkulu,ID,2022-05-04 02:30:55,-3.8004,102.2655,82.89,70,94,4.29
12,12,Puerto Escondido,MX,2022-05-04 02:30:56,15.8500,-97.0667,82.65,70,71,7.99
15,15,Kirakira,SB,2022-05-04 02:30:57,-10.4544,161.9205,84.36,70,29,4.81
17,17,Kapaa,US,2022-05-04 02:30:58,22.0752,-159.3190,82.38,81,100,17.27
21,21,Tura,IN,2022-05-04 02:31:00,25.5198,90.2201,81.50,56,4,0.40

In [12]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1       Quatre Cocos      MU     77.11 -20.2078   57.7625
3          Carnarvon      AU     80.67 -24.8667  113.6333
4         Butaritari      KI     81.91   3.0707  172.7902
9             Avarua      CK     82.45 -21.2078 -159.7750
10            Atuona      PF     79.43  -9.8000 -139.0333
11          Bengkulu      ID     82.89  -3.8004  102.2655
12  Puerto Escondido      MX     82.65  15.8500  -97.0667
15          Kirakira      SB     84.36 -10.4544  161.9205
17             Kapaa      US     82.38  22.0752 -159.3190
21              Tura      IN     81.50  25.5198   90.2201

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Quatre Cocos,MU,77.11,-20.2078,57.7625,Sunrise Attitude Hotel
3,Carnarvon,AU,80.67,-24.8667,113.6333,Hospitality Carnarvon
4,Butaritari,KI,81.91,3.0707,172.7902,Isles Sunset Lodge
9,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
10,Atuona,PF,79.43,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
556,Boa Vista,BR,80.58,2.8197,-60.6733,Aipana Plaza Hotel
561,Beoumi,CI,75.15,7.6736,-5.5764,Hôtel le Goly
564,San Patricio,US,78.89,28.0170,-97.5169,"Motel 6 Sinton, TX"
565,Isangel,VU,81.93,-19.5500,169.2667,Tanna Lodge
566,Yenagoa,NG,76.28,4.9247,6.2642,Aridolf Resort Wellness and Spa

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))