## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/kwhit\Desktop/University of Dever Boot Camp/Module 6/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,72.55,96,19,4.00,few clouds
1,1,Mataura,NZ,-46.1927,168.8643,57.47,59,15,3.53,few clouds
2,2,Pevek,RU,69.7008,170.3133,30.13,77,28,9.51,scattered clouds
3,3,Bredasdorp,ZA,-34.5322,20.0403,60.15,70,99,13.29,overcast clouds
4,4,Severo-Kurilsk,RU,50.6789,156.1250,36.21,98,100,9.86,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Rikitea,PF,-23.1203,-134.9692,76.87,70,10,14.94,clear sky
8,8,San Patricio,US,28.0170,-97.5169,80.85,80,50,15.84,scattered clouds
10,10,Eyl,SO,7.9803,49.8164,82.40,79,100,7.61,light rain
14,14,Coahuayana,MX,18.7333,-103.6833,75.06,83,75,2.48,broken clouds
17,17,Bud,US,39.4470,-86.1758,78.82,81,36,6.44,scattered clouds
18,18,Alappuzha,IN,9.4900,76.3264,82.80,78,100,17.09,overcast clouds
22,22,Vaini,TO,-21.2000,-175.2000,80.76,65,20,5.75,few clouds
23,23,Carnarvon,AU,-24.8667,113.6333,77.07,53,98,9.22,overcast clouds
26,26,Kapaa,US,22.0752,-159.3190,82.38,74,75,14.97,broken clouds
31,31,Faanui,PF,-16.4833,-151.7500,82.67,74,11,17.07,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                204
City                   204
Country                204
Lat                    204
Lng                    204
Max Temp               204
Humidity               204
Cloudiness             204
Wind Speed             204
Current Description    204
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

#For the above DataFrame, there are 204 cities and no null values.
clean_df = preferred_cities_df
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Rikitea,PF,-23.1203,-134.9692,76.87,70,10,14.94,clear sky
8,8,San Patricio,US,28.0170,-97.5169,80.85,80,50,15.84,scattered clouds
10,10,Eyl,SO,7.9803,49.8164,82.40,79,100,7.61,light rain
14,14,Coahuayana,MX,18.7333,-103.6833,75.06,83,75,2.48,broken clouds
17,17,Bud,US,39.4470,-86.1758,78.82,81,36,6.44,scattered clouds
18,18,Alappuzha,IN,9.4900,76.3264,82.80,78,100,17.09,overcast clouds
22,22,Vaini,TO,-21.2000,-175.2000,80.76,65,20,5.75,few clouds
23,23,Carnarvon,AU,-24.8667,113.6333,77.07,53,98,9.22,overcast clouds
26,26,Kapaa,US,22.0752,-159.3190,82.38,74,75,14.97,broken clouds
31,31,Faanui,PF,-16.4833,-151.7500,82.67,74,11,17.07,light rain

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,76.87,clear sky,-23.1203,-134.9692,
8,San Patricio,US,80.85,scattered clouds,28.0170,-97.5169,
10,Eyl,SO,82.40,light rain,7.9803,49.8164,
14,Coahuayana,MX,75.06,broken clouds,18.7333,-103.6833,
17,Bud,US,78.82,scattered clouds,39.4470,-86.1758,
18,Alappuzha,IN,82.80,overcast clouds,9.4900,76.3264,
22,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,
23,Carnarvon,AU,77.07,overcast clouds,-24.8667,113.6333,
26,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,
31,Faanui,PF,82.67,light rain,-16.4833,-151.7500,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [10]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6d. Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6e. Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6f. Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6e. Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,76.87,clear sky,-23.1203,-134.9692,People ThankYou
8,San Patricio,US,80.85,scattered clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
10,Eyl,SO,82.40,light rain,7.9803,49.8164,Amiin Hotel
14,Coahuayana,MX,75.06,broken clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
17,Bud,US,78.82,scattered clouds,39.4470,-86.1758,Ted McQuinn Trust
18,Alappuzha,IN,82.80,overcast clouds,9.4900,76.3264,Panoramic Sea Resort
22,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
23,Carnarvon,AU,77.07,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
26,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
31,Faanui,PF,82.67,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

#no null values exist

City                   204
Country                204
Max Temp               204
Current Description    204
Lat                    204
Lng                    204
Hotel Name             204
dtype: int64

In [15]:
clean_hotel_df = hotel_df
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,76.87,clear sky,-23.1203,-134.9692,People ThankYou
8,San Patricio,US,80.85,scattered clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
10,Eyl,SO,82.40,light rain,7.9803,49.8164,Amiin Hotel
14,Coahuayana,MX,75.06,broken clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
17,Bud,US,78.82,scattered clouds,39.4470,-86.1758,Ted McQuinn Trust
18,Alappuzha,IN,82.80,overcast clouds,9.4900,76.3264,Panoramic Sea Resort
22,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
23,Carnarvon,AU,77.07,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
26,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
31,Faanui,PF,82.67,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [19]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 11b. Display the figure

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))